[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
async-asgi-testclient = "*"
mkdocs = "*"
mkdocs-material = "*"

[packages]
fastapi = "*"
passlib = {extras = ["bcrypt"], version = "*"}
pyjwt = "*"
python-multipart = "*"

[requires]
python_version = "3.8"
