[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
async-asgi-testclient = "*"
pytest-asyncio = "*"

[packages]
fastapi = {extras = ["all"],version = "*"}
passlib = {extras = ["bcrypt"],version = "*"}
pyjwt = "*"
python-multipart = "*"

[requires]
python_version = "3.7"
