requirements.txt found, instead of Pipfile! Converting…
Warning: Your Pipfile now contains pinned versions, if your requirements.txt did. 
We recommend updating your Pipfile to specify the "*" version, instead.
async-asgi-testclient==1.4.5
atomicwrites==1.4.0
attrs==20.3.0
bcrypt==3.2.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
fastapi==0.63.0
fastapi-login==1.5.2
future==0.18.2
idna==2.10
iniconfig==1.1.1
Jinja2==2.11.3
joblib==1.0.1
livereload==2.6.3
lunr==0.5.8
Markdown==3.3.3
markdown-include==0.6.0
MarkupSafe==1.1.1
mkdocs==1.1.2
mkdocs-material==6.2.8
mkdocs-material-extensions==1.0.1
mkdocstrings==0.14.0
more-itertools==8.4.0
multidict==5.1.0
nltk==3.5
packaging==20.9
passlib==1.7.4
pluggy==0.13.1
py==1.10.0
pycparser==2.20
pydantic==1.7.3
Pygments==2.8.0
PyJWT==2.0.1
pymdown-extensions==8.1.1
pyparsing==2.4.7
pytest==6.2.2
pytest-asyncio==0.14.0
python-multipart==0.0.5
pytkdocs==0.10.1
PyYAML==5.4.1
regex==2020.11.13
requests==2.25.1
six==1.15.0
starlette==0.13.6
toml==0.10.2
tornado==6.1
tqdm==4.57.0
urllib3==1.26.3
